<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Posts</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link href="/dist/output.css" rel="stylesheet">

</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
        <div class="nav flex w-full justify-end gap-6">
            <a class="bg-blue-500 rounded-md px-3 py-2 text-sm mb-5 inline-block" href="/home"> Home </a>
            <a class="bg-blue-500 rounded-md px-3 py-2 text-sm mb-5 inline-block" href="/profile"> Profile </a>
            <a class="bg-red-500 rounded-md px-3 py-2 text-sm mb-5 inline-block" href="/logout"> Logout </a>
        </div>
        <div class="posts mt-20">
            <h3 class="text-zinc-400">New Posts.</h3>
            <div class="postcontainer mt-5 flex gap-4 flex-wrap">
                <% posts.forEach((post)=>{ %>
                    <div class="post w-3/12 p-4 rounded-md border-2 border-zinc-800 bg-zinc-900">
                    <h4 class="text-blue-500 mb-2"><%= post.user.username%></h4>
                    <p class="text-sm tracking-tight"><%= post.content%></p>
                    <small><%= post.likes.length %> likes</small>
                    <div class="btns flex gap-4 mt-5">
                        <a class="text-blue-500" href="/like/<%= post._id %>?redirectUrl=/home">
                            <%= post.likes.indexOf(user._id.toString()) === -1 ? 'Like' : 'Unlike' %>
                        </a>
                        
                        <% if(user._id.toString() === post.user._id.toString()) { %>
                            <a class="text-zinc-600" href="/edit/<%= post._id %>">edit</a>
                        <% } %>                        
                    </div>
                </div>
                <% }) %>
            </div>
                </div>
</div>
</body>
</html>